doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no, width=device-width,maximum-scale = 1.0 ')
    title Register
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-3.3.1.js')
    script(type='text/javascript', src='/javascripts/md5.js')

  body
    block content