doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='initial-scale=1.0, user-scalable=no, width=device-width,maximum-scale = 1.0 ')
        title Login
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='/javascripts/jquery-3.3.1.js')
        script(type='text/javascript', src='/javascripts/md5.js')
        style.
            .login{
                position: relative;
                /*表单居中*/
                margin:100px auto;
                width: 500px;
                height: 200px;
                /*显示表单的轮廓*/
                padding: 1em;
                border-radius: 1em;
                border: 1px solid #CCC;
                background-color: #CCCCCC;
            }
            #reglink{
                float: right;
            }
    body
        .pg_header
            a.logo 物联网信息平台
            a.pg_dl(href='/register.pug') 注册
        form.login
            .item
                label(for='username') 用户名
                input#username(type='text', placeholder='由数字或字母组成，长度在4-10位')
                br
                span#checkNameInfo.info
            .item
                label(for='pwd') 密码
                input#pwd(type='password', placeholder='由数字或字母组成，长度在7-16位')
                br
                span#checkPwdOne.info(style='visibility: visible')
            .item
                button.btn(type='button') 登录
                span
                    a#reglink(href='/register.pug') 注册账号
        script(type='text/javascript', src='/javascripts/login.js')